/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #F0F0F0;   /* background color */
	color: #444;          /* text color for the entire page */
}

h1, h2 { 
	text-align:center; /* centers h1 and h2 content */
	color:#A99C80;
}
header {
	
	background-color: #f4f2ef;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

details summary {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray; 
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}
details[open] summary {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: 0 0px 0px 0 gray, 0 0px 0px 0 gray; 

}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:20px;
	text-align:left;
	background-color:#003057;
	font-weight: bold;
	font-size: 175%;
	color: #f2f4ef;

 }

.stepContent{ 
	background-color: white;
	padding:20px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	font-size: 200%;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width:40%;	
	padding:15px;
	text-align: center;
}

.stepImage img {
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray; 
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

    width:100%;
    height:auto;
}
.flowchartImage{
	width:40%;	
	padding:15px;
	text-align: center;
	
}
.flowchartImage img {
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray; 
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

    width:70%;
    height:auto;

	
}
.flowchartImage img:hover {
	position:fixed; 
  	display:block; 
  	z-index:99;
	top:0%;
  	left:25%;
	bottom:10%;
	-webkit-transform:scale(1.0);
	-ms-transform: translateX(-50%);
	transform: scale (1.00);
}
.apa-ref p {
	
	margin-left:  .5in; 
	text-indent: -.5in; 
	margin-left:   2em; 
	text-indent:  -2em; 
	margin-top: 1em;
	margin-bottom: 1em;
}
.announcement {
	background-color: #d9d3c6;
	padding: 10px;
	border-radius:20px;
	
}
.material-icons {
	font-size:1.5em;
}
.idea {
	background-color: #c2cfca;
	padding: 10px;
	border-radius:20px;
	
}

strong {
  font-weight: 800;
}